* {
    margin: 0;
    padding: 0;
}

.red {
    width: 100%;
    height: 100px;
    background: red;
}

.color {
    width: 100%;
    height: 100px;
    background: greenyellow;
}

.yellow {
    background: yellowgreen;
    width: 100%;
    height: 100px;
}

.purple {
    width: 100%;
    height: 100px;
    background: purple;
}